<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8ecf1230-9e32-41da-8116-69c2fc8fb976" Alias="homePage" Level="1">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the homepage template</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="43e6a58f-5e8a-4180-9522-6f8067c0d9e0">bannerPanel</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="43c00d88-f33e-460f-b9db-08edee659f64">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="43e6a58f-5e8a-4180-9522-6f8067c0d9e0" SortOrder="0">bannerPanel</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>645bfae5-ae0b-4a80-a055-e253287a40c6</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="headerData">Header Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Header Data</Caption>
      <Alias>headerData</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>