<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a18903e-969b-45b5-a347-606d7d7c923a" Alias="Welcome" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Welcome</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2021-10-27T20:46:07</CreateDate>
    <NodeName Default="Welcome">
      <Name Culture="en-gb">Welcome</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-gb">true</Published>
    </Published>
    <Schedule />
    <Template Key="43c00d88-f33e-460f-b9db-08edee659f64">HomePage</Template>
  </Info>
  <Properties>
    <bannerHeading>
      <Value><![CDATA[Hello, my name is Leon-Paul Hart]]></Value>
    </bannerHeading>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "b57ef715-1fe6-48cc-84ee-a4261fb048f8",
    "mediaKey": "eb541fd8-0704-4761-88b9-72cd0a3c4f3e",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </bannerImage>
    <bannerText>
      <Value><![CDATA[<p>I am a reformed art student/sculptor who has turned my creativity to software development. I still love building things and finding creative and beautiful solutions to difficult problems.</p>]]></Value>
    </bannerText>
    <jumpButton>
      <Value><![CDATA[first]]></Value>
    </jumpButton>
    <pageTitle>
      <Value><![CDATA[Welcome to my portfolio]]></Value>
    </pageTitle>
  </Properties>
</Content>